:root{
    font-size: 2rem;
}

.x-small{
    font-size: 0.5rem;
}
.small{
    font-size: 0.8rem;
}
.medium{
    font-size: 1.0rem;
}
.large{
    font-size: 1.5rem;
}
.x-large{
    font-size: 2.0rem;
}
footer{
    font-size: 50px;
}
.description{
    font-size: 2em;
}